@import "../layout.scss";
@import "../vars.scss";

$btn-size: 40px;

.amount.widget {
  @include row(default, center);

  .counter {
    font-size: 24px;
    margin: 0 20px;
  }

  .button {
    @include centered();
    cursor: pointer;

    border-radius: 4px;
    background: $red;
    color: white;
    font-weight: bold;
    font-size: 24px;

    width: $btn-size;
    height: $btn-size;

    &.disabled {
      pointer-events: none;
      background: gray;
    }
  }
}
