@import "./layout.scss";
@import "./vars.scss";

body {
  font-family: "Ubuntu";
  margin: 0;
  padding: 0;
}

.storehouse {
  @include column();
  margin-top: 50px;

  & > .narrowed > .caption {
    margin-bottom: 30px;
    font-size: 24px;
  }

  & > .menu {
    @include row(default, stretch);
    border-top: 1px solid $gray-border;
    border-bottom: 1px solid $gray-border;
    background: $gray-background;

    margin-bottom: 20px;
    height: 50px;

    .links {
      @include row();
      @include narrowed-area-1();

      a {
        @include centered();

        height: 100%;
        padding: 0 20px;
        text-decoration: none;
        border-radius: 4px;
        color: black;

        &.active {
          background: $red;
          color: white;
        }
      }
    }
  }
}
