@import "./vars";

$narrowed-area-1-w: 700px;

@mixin column($ma: default, $ca: default) {
  display: flex;
  flex-direction: column;

  @if $ma != default {
    justify-content: $ma;
  }

  @if $ca != default {
    align-items: $ca;
  }
}

.column {
  @include column();
}

@mixin row($ma: default, $ca: default) {
  display: flex;
  flex-direction: row;

  @if $ma != default {
    justify-content: $ma;
  }

  @if $ca != default {
    align-items: $ca;
  }
}

@mixin centered() {
  @include column(center, center);
}

.row {
  @include row();
}

@mixin narrowed($w) {
  max-width: $w;
  width: 100%;
  margin: 0 auto;
}

@mixin narrowed-area-1() {
  @include narrowed($narrowed-area-1-w);
}

.narrowed {
  @include narrowed($narrowed-area-1-w);
}

@mixin grid($cols: auto, $rows: auto) {
  display: grid;

  @if $cols != default {
    grid-template-columns: $cols;
  }

  @if $rows != default {
    grid-template-rows: $rows;
  }
}

@mixin grid-span($col-start, $col-end, $row-start, $row-end) {
  grid-column: $col-start / $col-end;
  grid-row: $row-start / $row-end;
}

.btn {
  @include centered();

  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  padding: 5px 10px;

  &.red {
    color: white;
    background: $red;
  }

  &.inactive, &.disabled {
    pointer-events: none;
  }
}

input {
  border: 1px solid gray;
  background: transparent;
  border-radius: 4px;
  padding: 10px;
  outline: none;
  font-size: 16px;

  &:focus {
    border: 1px solid $red;
  }
}
