@import "./layout.scss";
@import "./vars.scss";

.storehouse .products {
  @include narrowed-area-1();

  .empty.placeholder {
    margin-top: 10px;
  }
}

.products .new.form {
  & > .headline {
    @include row(space-between, center);
    border-bottom: 1px solid $gray-border;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

  & > .caption {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .field.group.actions {
    @include row(flex-end, flex-end);
    flex-grow: 1;

    .btn {
      flex: 0.5;
      font-size: 16px;
      height: 30px;
    }
    // align-items: flex-end;;
  }

  .field.form {
    @include column();

    .row.general {
      margin-bottom: 20px;

      .field.group {
        .caption {
          margin-bottom: 10px;
        }
      }

      .field.group:not(:first-child) {
        margin-left: 20px;
      }
    }
  }

  .distributions {
    .caption {
      margin-bottom: 20px;
    }
  }

  .warehouse-distribution {
    @include row(space-between);
    border-radius: 4px;
    background: $gray-background;
    padding: 20px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    .headline {
      .id {
        color: gray;
        font-size: 12px;
        margin-bottom: 5px;
      }
    }
  }
}
