@import "./layout.scss";
@import "./vars.scss";

.warehouse.entry {
  @include column();

  border: 1px solid transparent;
  &:hover {
    border: 1px solid $gray-border;
  }

  padding: 20px;
  border-radius: 4px;

  background: $gray-background;

  .headline {
    .captions {
      @include column();
      margin-bottom: 10px;

      .id {
        color: gray;
        font-size: 12px;
        margin-bottom: 10px;
      }
    }

    .props {
      flex-grow: 1;
      font-size: 14px;
    }

    .actions {
      margin-top: 20px;

      span {
        font-size: 12px;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
